<form action="" [formGroup]="form" (ngSubmit)="submit()">
    <header>


        <h1>Seleziona il tuo piano</h1>
    </header>


    <main>

        @for (plan of listPlans; track $index) {
        <div (click)="selectYourPlan(plan.title)">
            <img src="{{plan.img}}" alt="">
            <h2>{{plan.title}}</h2>
            <p>{{plan.price}}</p>

        </div>
        }

    </main>

    <div id="boxSwitch">
        <p>Mensile</p>
        <label class="switch">
            <input type="checkbox" formControlName="plan">
            <span class="slider"></span>
        </label>
        <p>Annuale</p>

    </div>

    <div id="boxButtons">
        <button class="previus-step-btn" type="button" id="previousStep" (click)="previousPage()">
            Vai indietro

        </button>

        <button class="next-step-btn" [disabled]="form.invalid" type="submit" id="nextStep">
            Prossimo step

        </button>
    </div>
</form>