.next-step-btn {
  border-radius: 10px;
  border: none;
  padding: 15px;
  background-color: blue;
  color: #ffffff;
  font-family: 'medium';
  cursor: pointer;
  height: 50px;
}

.previus-step-btn {
  color: blue;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-family: 'medium';
  cursor: pointer;
  height: 50px;
  background: none;
}