<form (ngSubmit)="submit()">
  <header>
    <h1>Sommario</h1>
  </header>

  <main>
    <div id="boxSummary">
      <!-- Piano selezionato -->
      @if (plan) {


      <div id="boxPlanChoose">
        <div id="planChoose">
          <h2>{{ plan.piano }} ({{ plan.tipoPagamento.toLowerCase() }})</h2>
          <a href="#">Cambia</a>
        </div>
        <div id="priceChoose">
          <p>€{{ plan.prezzo }}/mese</p>
        </div>
      </div>
      }

      <hr />

      <!-- Add-ons -->
      @for (add of addOns; track $index) {
      <div id="addonChoose">
        <h4>{{ add.title }}</h4>
        <p>{{ add.price }}</p>
      </div>
      }
    </div>

    <!-- Totale -->
    <div id="totalPrice">
      <h3>Totale</h3>
      <p>€{{ total }}/mese</p>
    </div>
  </main>

  <!-- Bottoni -->
  <div id="boxButtons">
    <button class="previus-step-btn" type="button" (click)="previousPage()">Vai indietro</button>
    <button class="next-step-btn" type="button">Conferma</button>
  </div>
</form>