form {
    header {
        h1 {
            font-family: bold;
        }
    }

    main {
        #boxSummary {
            background-color: #edf5ea;
            padding: 15px;

            #boxPlanChoose {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-family: bold;

                }

                a {
                    font-family: regular;
                    text-decoration: none;

                }

                #priceChoose {
                    font-family: regular;
                    font-weight: bold;

                }
            }

            #addonChoose {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-family: bold;

                }

                p {
                    font-family: regular;
                }
            }

        }


    }

    #totalPrice {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-family: bold;
        }

        p {
            font-family: regular;
            color: blue;
            font-size: 22px;
        }
    }
    #boxButtons{
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 30vh;
    }

}