.next-step-btn {
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  padding: 15px;
  background-color: blue;
  color: #ffffff;
  font-family: 'medium';
  cursor: pointer;
  height: 50px;
}
