<section>
  <form>
    <nav>
      <ul>
        <li *ngFor="let stepForm of stepForms">
          <header>
            <div [ngStyle]="stepForm.number === '1' ? {'background-color': 'aqua'} : {}">
              {{stepForm.number}}
            </div>


            <aside>


              <h5>{{stepForm.title}}</h5>
              <a [routerLink]="stepForm.route">{{ stepForm.value }}</a>

            </aside>

          </header>

        </li>
      </ul>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>
  </form>
</section>