section{
    height: 50%;
    h1{
        font-family: bold;
        font-size: 25px;
    }
    #boxHeaderInputs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        label{
            font-family: 'medium';
        }

        #errorInputs{
            color: red;
            font-weight: bold;
            font-family: 'bold'
        }
    }
    #boxInput{
        input{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border:1px solid grey;
        }
    }

    #btnSubmitStepInfo{
        display: flex;
        justify-content: end;
        align-items: end;
        height: 26vh;
        button{
            border-radius: 10px;
            border: none;
            padding: 15px;
            background-color: blue;
            color:#ffffff;
            font-family: 'medium';
        }
    }
    
}