<form action="" [formGroup]="form">
    <section>
        <h1>Info Personali</h1>
        <div *ngFor="let input of inputField">
            <div id="boxHeaderInputs">


                <label for="">{{input.label}}</label>
                <p id="errorInputs" *ngIf= "form.get(input.controlName).errors">
                    Il campo {{ input.label.toLowerCase() }} non è valido.
                </p>


            </div>
            <div id="boxInput">
                <input [style.border-color]="form.get(input.controlName).invalid ? 'red' : null" type="{{input.type}}"
                    placeholder="{{input.placeholder}}" formControlName="{{input.controlName}}">


            </div>

        </div>

        <div id="btnSubmitStepInfo">

            <button class="next-step-btn" (click)="submit()" type="button" [class.btn-disabled]="form.invalid"
                [disabled]="form.invalid">Prossimo Step</button>

        </div>
    </section>
</form>