<form [formGroup]="form" (ngSubmit)="submit()">
  <header>
    <h1>Scegli add-ons</h1>
  </header>

  <main>
    @for (addOn of listAddOns; track $index) {
    <div>
      <label id="boxAddOns">
        <input
          type="checkbox"
          [value]="addOn.title"
          (change)="toggleAddOn(addOn.title, $event)"
        />
        <div id="boxTitleDescription">
          <h3>{{ addOn.title }}</h3>
          <p>{{ addOn.desc }}</p>
        </div>
        <p>{{ addOn.price }}</p>
      </label>
    </div>
  }
  </main>

  <div id="btnSubmitStepAddOns">
    <button class="previus-step-btn" type="button" (click)="previousPage()">
      Vai indietro
    </button>
    <button
      class="next-step-btn"
      type="submit"
      [disabled]="!isAtLeastOneSelected()"
      [ngClass]="{ 'btn-disabled': !isAtLeastOneSelected() }"
     
    >
      Prossimo step
    </button>
  </div>
</form>
